agent_name: "linear_qlearning"
run_folder: "/home/esraa1/scratch/extended-mind/runs"
parquet_folder: "/home/esraa1/scratch/extended-mind/parquet"

seed: 1
agent_view_size: 3
max_steps: 1000
path_mode: "NONE"

render_options:
  show_grid_lines: false
  show_walls_pov: false
  show_optimal_path: true

training:
  env_id: "MiniGrid-SaltAndPepper-v0-custom"
  total_timesteps: 200000
  discount: 0.95
  step_size: 1e-3
  start_epsilon: 1.0
  end_epsilon: 0.01
  exploration_fraction: 0.5
  agent_pixel_view_edge_dim: 20
  q_network_type: "flax"